{% extends 'admin/base_site.html' %}
{% load fullcalendar_tags i18n %}
{% block extrahead %}
		{% fullcalendar_css %}
		{% fullcalendar_print_css %}
		{% fullcalendar_jquery %}
		{% fullcalendar_jquery_ui %}
		{% fullcalendar_javascript %}

		<style type="text/css">
			@import url(/static/admin/css/material-inputs/select.css);
			#calendar{
				width: 80%;
				margin: 30px auto;

			}
			#calendar .fc-content table{
				height: 600px;
			}
			.fc-event{
				cursor: pointer;
			}
			.offset {
			    background-image: linear-gradient(left, transparent 300px,rgba(39,39,39,.5) 300px, rgba(39,39,39,.5) 100%);
			    width: 100%;
			    height: 500px;
			}

		</style>
		<script type="text/javascript">
			$(document).ready(function(){
				console.log($(".group input[type=text]")[0]);
				$(".group input[type=text]").click(function(){
					$(this).addClass("open");
				});
				$(".group li").click(function(event){
					event.stopPropagation();
					var val = $(this).find("label").html();
					var input = $(this).parents(".group").find("input[type=text]");
					input.removeClass("open");
					input.val(val);
				});
				$(".group input[type=radio][checked]").each(function(){
					var val = $('label[for="' + this.id + '"]').html();
					var input = $(this).parents(".group").find("input[type=text]");
					input.val(val);
				});
				$(window).click(function (event){
					if(!$(event.target).closest('.group input[type=text]').length &&
				       !$(event.target).is('.group input[type=text]')) {
				        if($('.group input[type=text]').is(":visible")) {
				            $('.group input[type=text]').removeClass("open");
				        }
				    }
				});
			});
		</script>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo;
<a href="{% url 'admin:app_list' app_label='actividades' %}">Actividades</a>
&rsaquo;
Calendario de actividades
</div>
{% endblock %}

{% block content %}
		<h1 class="head">Calendario de actividsades</h1>
		<form method="get">
			<section>
				<div class="group">
					<input readonly placeholder="Select value" type="text" autocomplete="off" required>
					<label>Tipo de actividad:</label>
					<span class="highlight"></span>
					<span class="bar"></span>
					<i class="micon">arrow_drop_down</i>
					<ul>
						<li>
							<label for="todos_tipo_selected">Todos</label>
							<input{% if data.tipo_selected.0 == '0' %} checked{% endif %} id="todos_tipo_selected" type="radio" name="tipo_selected" value="0">
						</li>
						{%for tipo in tipos%}
						<li>
							<span class="color" style="background-color:{{tipo.color}}"></span>
							<label for="id{{tipo.nombre}}">{{tipo.nombre}}</label>
							<input{% if data.tipo_selected.0 == tipo.pk|stringformat:'i' %} checked{% endif %} value="{{tipo.pk}}" type="radio" name="tipo_selected" id="id{{tipo.nombre}}"/>
						</li>
						{% endfor %}
					<ul>
				</div>
				<div class="group">
					<input readonly placeholder="Select value" type="text" autocomplete="off" required>
					<label>Piscina:</label>
					<span class="highlight"></span>
					<span class="bar"></span>
					<i class="micon">arrow_drop_down</i>
					<input{% if data.piscina.0 == '0' %} checked{% endif %} id="todos_piscina" type="radio" name="piscina" value="0">
					<ul>
						{%for piscina in piscinas%}
						<li>
							<!-- <span class="color" style="background-color:{{tipo.color}}"></span> -->
							<label for="id{{piscina.nombre}}">{{piscina.nombre}}</label>
							<input{% if data.piscina.0 == piscina.pk|stringformat:'i' %} checked{% endif %} value="{{piscina.pk}}" type="radio" name="piscina" id="id{{piscina.nombre}}"/>
						</li>
						{% endfor %}
					<ul>
				</div>
				<div class="group">
					<input readonly placeholder="Select value" type="text" autocomplete="off" required>
					<label>Cliente:</label>
					<span class="highlight"></span>
					<span class="bar"></span>
					<i class="micon">arrow_drop_down</i>
					<input{% if data.cliente.0 == '0' %} checked{% endif %} id="todos_cliente" type="radio" name="cliente" value="0">
					<ul>
						{%for cliente in clientes%}
						<li>
							<!-- <span class="color" style="background-color:{{tipo.color}}"></span> -->
							<label for="id{{cliente.username}}">{{cliente.username}}</label>
							<input{% if data.cliente.0 == cliente.pk|stringformat:'i' %} checked{% endif %} value="{{cliente.pk}}" type="radio" name="cliente" id="id{{cliente.username}}"/>
						</li>
						{% endfor %}
					<ul>
				</div>
				<br>
				<div class="submit-row footer">
					<button>Buscar</button>
					<a id="nueva" class="exbtn" href="/dashboard/actividades/actividad/add">Nueva actividad</a>
				</div>
			</section>
		</form>

		<script type="text/javascript">
			var configure_calendar = {
				eventClick: function(calEvent, jsEvent, view) {
					console.log(calEvent);
					var href = "/dashboard/actividades/actividad/" + calEvent.pk + "/change/";
					var mwindow = window.open(href+"?_popup=1", "Nueva actividad", "width=800,height=800");
					mwindow.addEventListener("load", function() {
					mwindow.$("form").ajaxForm(function(){
						mwindow.close();
						$('#calendar').fullCalendar( 'refetchEvents' );
					});
				});
				}
			};
			$("#nueva").click(function(){
				var href = $(this).attr("href");
				var pwindow = window.open(href+"?_popup=1", "Nueva actividad", "width=800,height=800");
				pwindow.addEventListener("load", function(){
					pwindow.$("form").ajaxForm(function(){
						pwindow.close();
						$('#calendar').fullCalendar('refetchEvents');
					});
				});
				return false;
			});

		</script>
		{% calendar "/notificaciones/calendar/" data %}

{% endblock %}
